

///*----------------------------------*\
//  #COLORS
//\*----------------------------------*/

// Colors
//
// $accent-color: #57b8ff - accent color for buttons and links
// $primary-color: #4f7cac - primary theme color
// $text-color: #161925 - text color
// $reversed-color: #fff - reversed color for elements on dark backgrounds
// $disabled-color: #d9dada - disabled color for controls
// $neutral-color: #7b7f84 - neutral gray color
// $border-color: #aeb3b9 - border color
// $secondary-background-color: #efefef - lighter secondary background color
//
// Styleguide Settings.Colors

$accent-color: #57b8ff;
$primary-color: #4f7cac;
$text-color: #161925;
$reversed-color: #fff;
$disabled-color: #d9dada;
$neutral-color: #7b7f84;
$border-color: #aeb3b9;
$secondary-background-color: #efefef;
$green: #0f0;